In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel(r'C:\Users\Linta Stephen\Downloads\S_xcel.xlsx')
data

     Bins  image1  image2  image3  image4  image5  image6
0       0       0       0       0       0       0       0
1       1       0       0       0       0       0       0
2       2       0       0       0       0       0       0
3       3       0       0       0       0       0       0
4       4       0       0       0       0       0       0
..    ...     ...     ...     ...     ...     ...     ...
251   251       5     170      25      18      64    1283
252   252       4     737      55      14      85    2614
253   253       1     710      75      16     114    3396
254   254       1     732      63      22      98    3909
255   255      25     735      65      33     107    3341

[256 rows x 7 columns]

In [3]:
data.shape

(256, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bins    256 non-null    int64
 1   image1  256 non-null    int64
 2   image2  256 non-null    int64
 3   image3  256 non-null    int64
 4   image4  256 non-null    int64
 5   image5  256 non-null    int64
 6   image6  256 non-null    int64
dtypes: int64(7)
memory usage: 14.1 KB

In [5]:
data.dtypes

Bins      int64
image1    int64
image2    int64
image3    int64
image4    int64
image5    int64
image6    int64
dtype: object

In [7]:
data.isna().sum()

Bins      0
image1    0
image2    0
image3    0
image4    0
image5    0
image6    0
dtype: int64

In [6]:
data.columns

Index(['Bins', 'image1', 'image2', 'image3', 'image4', 'image5', 'image6'], dtype='object')

In [9]:
Mean=data.mean()
Mean

Bins       127.500000
image1    1760.675781
image2    3600.000000
image3    3600.000000
image4    3600.000000
image5    3600.000000
image6    3600.000000
dtype: float64

In [10]:
Variance=data.var()
Variance

Bins      5.482667e+03
image1    5.434102e+06
image2    1.111118e+07
image3    1.923846e+07
image4    1.850680e+07
image5    1.947470e+07
image6    1.361188e+07
dtype: float64

In [11]:
Standard_Deviation=data.std()
Standard_Deviation

Bins        74.045031
image1    2331.116067
image2    3333.343897
image3    4386.167246
image4    4301.953450
image5    4413.014448
image6    3689.428456
dtype: float64